<?php
/**
 * Wordpress config File, Nothing should be hard coded in this file.
 *
 * @package    Wordpress
 */

/**
 * Set up our global environment constant and load its config first
 * Default: development
 */
define( 'WP_ENV', '{{WP_ENV}}' );
switch ( WP_ENV ) {
	case 'production':
		ini_set( 'display_errors', 0 );
		define( 'WP_DEBUG_DISPLAY', false );
		define( 'SCRIPT_DEBUG', false );
		define( 'DISALLOW_FILE_MODS', true );
	break;
	case 'staging':
		ini_set( 'display_errors', 0 );
		define( 'WP_DEBUG_DISPLAY', false );
		define( 'SCRIPT_DEBUG', false );
		define( 'DISALLOW_FILE_MODS', true );
	break;
	default:
		/* Development */
		define( 'SAVEQUERIES', true );
		define( 'WP_DEBUG', true );
		define( 'SCRIPT_DEBUG', true );
	break;
}


/**
 * MySQL Database settings
 */
define('DB_NAME', '{{WP_DB_NAME}}');
define('DB_USER', '{{WP_DB_USER}}');
define('DB_PASSWORD', '{{WP_DB_PASSWORD}}');
define('DB_HOST', '{{WP_DB_HOST}}');
define('DB_CHARSET', '{{WP_DB_CHARSET}}');
define('DB_COLLATE', '{{WP_DB_COLLATE}}');
$table_prefix = '{{WP_DB_PREFIX}}';

/**
 * Authentication Unique Keys and Salts
 *
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 */
define( 'AUTH_KEY',         '{{WP_AUTH_KEY}}' );
define( 'SECURE_AUTH_KEY',  '{{WP_SECURE_AUTH_KEY}}' );
define( 'LOGGED_IN_KEY',    '{{WP_LOGGED_IN_KEY}}' );
define( 'NONCE_KEY',        '{{WP_NONCE_KEY}}' );
define( 'AUTH_SALT',        '{{WP_AUTH_SALT}}' );
define( 'SECURE_AUTH_SALT', '{{WP_SECURE_AUTH_SALT}}' );
define( 'LOGGED_IN_SALT',   '{{WP_LOGGED_IN_SALT}}' );
define( 'NONCE_SALT',       '{{WP_NONCE_SALT}}' );

/**
 * Other Settings
 */
define( 'AUTOMATIC_UPDATER_DISABLED', true );
define( 'DISABLE_WP_CRON', true );
define( 'DISALLOW_FILE_EDIT', true );

/**
 * URLs
 */
define( 'WP_HOME', '{{WP_HOME}}');
define( 'WP_SITEURL', '{{WP_SITEURL}}' );

/**
 * Custom Content Directory
 */
define( 'CONTENT_DIR', '/app' );
define( 'WP_CONTENT_DIR',  dirname( __DIR__ ) . '/public' . CONTENT_DIR );
define( 'WP_CONTENT_URL', WP_HOME . CONTENT_DIR );


/**
 * WordPress Localized Language
 * Default: English
 *
 * A corresponding MO file for the chosen language must be installed to app/languages
 */
define( 'WPLANG', '' );

/**
 * Other Settings
 */
define( 'AUTOMATIC_UPDATER_DISABLED', true );
define( 'DISABLE_WP_CRON', true );
define( 'DISALLOW_FILE_EDIT', true );

/**
 * SSL settings
 */
define('FORCE_SSL_ADMIN', true);
define('FORCE_SSL_CONTENT', true);

/**
 * If we're behind a proxy server and using HTTPS, we need to alert Wordpress of that fact
 * see also http://codex.wordpress.org/Administration_Over_SSL#Using_a_Reverse_Proxy
 */
if (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) && $_SERVER['HTTP_X_FORWARDED_PROTO'] === 'https') {
	$_SERVER['HTTPS'] = 'on';
}
